body {
    color: #ffffff;
    background-color: #101010;
}

.main__content {
    width: 100%;
    background-color: #101010;
    margin-top: -5px;
    padding-top: 50px;
    -webkit-animation: fadein-short 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein-short 2s;
    /* Firefox < 16 */
    -ms-animation: fadein-short 2s;
    /* Internet Explorer */
    -o-animation: fadein-short 2s;
    /* Opera < 12.1 */
    animation: fadein-short 2s;
}

.centered {
    width: 100%;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 100vh;
    height: 100%;
}

.information__wrapper {
    display: grid;
    grid-template-columns: 27% 27% 27%;
    justify-content: space-around;
    grid-row-gap: 27%;
}

.information__content {
    background-color: #141414;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.information__text {
    flex-grow: 1;
}

.large-headline {
    font-size: 80px;
}

.comparison__wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #141414;
    width: 100%;
}

.phone {
    padding: 20px;
    text-align: center;
}

.information__headline {
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.from__wrapper {
    width: 400px;
    margin: 100px auto;
}

.input__iphone {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    background-color: #141414;
    border: 1px solid #ccc;
    outline: 0px;
    color: #ccc;
}

.input__select {
    width: 100%;
    height: 30px;
    background-color: #141414;
    outline: 0px;
    color: #cccccc;
}

.submit-button {
    margin-top: 20px;
    width: 100%;
    background-color: #cccccc;
    padding: 10px 0px;
    color: #141414;
    border: 0px;
}

.iphone__video {
    width: 100%;
    height: auto;
}

.from__headline {
    margin-bottom: 20px;
    width: auto;
    text-align: center;
    color: #ccc;
}

::placeholder {
    color: #cccccc;
    font-size: 12px;
}

.input__radio {
    padding: 12px;
    width: 48%;
    float: left;
    border: 1px solid #ccc;
    color: #cccccc;
    font-size: 12px;
    margin-bottom: 20px;
    background-color: #141414;
}

.input-label {
    margin-left: 10px;
}

.first__radio {
    margin-right: 4%;
}

.phone h5,
.phone a {
    color: #606060;
    font-size: 13px;
}

.second-image {
    margin-top: 50px;
    width: 400px;
    margin: 0 auto;
}

.phone a {
    text-decoration: underline;
}

.button__more-information {
    margin-top: 15px;
    width: auto;
    display: inline-block;
    color: #fff;
    padding: 8px 12px;
    background-color: #101010;
    border-radius: 6px;
}

.large-headline {
    -webkit-animation: fadein 5s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 5s;
    /* Firefox < 16 */
    -ms-animation: fadein 5s;
    /* Internet Explorer */
    -o-animation: fadein 5s;
    /* Opera < 12.1 */
    animation: fadein 5s;
}

.full-height__wrapper {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: inline-block;
    border-bottom: 3px solid #141414;
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadein-short {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
