body {
    color: #ffffff;
    background-color: #101010;
}

::placeholder {
    color: #cccccc;
    font-size: 12px;
}

.main__content {
    width: 100%;
    background-color: #101010;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}

.centered {
    width: 100%;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.large-headline {
    font-size: 80px;
    -webkit-animation: fadein 5s;
    -moz-animation: fadein 5s;
    -ms-animation: fadein 5s;
    -o-animation: fadein 5s;
    animation: fadein 5s;
}

.image__wrapper {
    width: 768px;
    margin: 0 auto;
}

.image__crop {
    width: 196px;
    height: 196px;
    padding: 10px;
    overflow: hidden;
}


.information__wrapper {
    margin: 0 auto;
    display: inline-block;
    width: 810px;
    height: auto;
}

.information__content {
    background-color: #141414;
    padding: 10px;
    display: flex;
    width: 250px;
    flex-direction: column;
    margin-left: 10px;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
    height: 220px;
}

.information__text {
    flex-grow: 1;
}

.comparison__wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #141414;
    width: 100%;
}

.compare-phones {
    background-color: #141414;
}

.compare-phones h3 {
    padding: 20px 0px 20px 20px;
}

.phone {
    text-align: center;
}

.phone h5,
.phone a {
    color: #606060;
    font-size: 13px;
}

.phone a {
    text-decoration: underline;
}

.information__headline {
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.from__wrapper {
    width: 400px;
    margin: 100px auto;
}

.input__iphone {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    background-color: #141414;
    border: 1px solid #ccc;
    outline: 0px;
    color: #ccc;
}

.input__select {
    width: 100%;
    height: 30px;
    background-color: #141414;
    outline: 0px;
    color: #cccccc;
}

.submit-button {
    margin-top: 20px;
    width: 100%;
    background-color: #cccccc;
    padding: 10px 0px;
    color: #141414;
    border: 0px;
}

.iphone__video {
    width: 100%;
    height: auto;
}

.from__headline {
    margin-bottom: 20px;
    width: auto;
    text-align: center;
    color: #ccc;
}

.input__radio {
    padding: 12px;
    width: 48%;
    float: left;
    border: 1px solid #ccc;
    color: #cccccc;
    font-size: 12px;
    margin-bottom: 20px;
    background-color: #141414;
}

.input-label {
    margin-left: 10px;
}

.first__radio {
    margin-right: 4%;
}

.button__more-information {
    margin-top: 15px;
    width: auto;
    display: inline-block;
    color: #fff;
    padding: 8px 12px;
    background-color: #101010;
    border-radius: 6px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}