* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


#imagebox{
    width: 100vw;
    float: left;
    
}
#notetitle{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
}
#contantbox{
    background-color: black;
}

#content{
    width: 900px;
    margin: 0 auto;
    color: white;
}

#container{
    padding: 20px;
}

#phonegif{
    width: 600px;
    margin: 0 auto 50px auto;
}

.section{
    text-align: center;
    margin-bottom: 10px;
}

.section h2{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.section p{
    margin-bottom: 10px;
}

.section ul li{
    list-style-type: none;
}
.getmoreinfo{
    text-align: center;
    color: #dabdab;
    margin: 15px;
}
.h2{
    color: #dabdab;
}



