* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#imagebox{
    width: 100vw;
    float: left;
    
}
#notetitle{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
}
#contantbox{
    background-color: black;
}